div {
  width: 70%;
  margin-bottom: 1em;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: left;
  padding: 0.5em;
}

mark {
  background-color: green;
  color: white;
  padding: 0.1em;
}
