<html>
  <head>
    <title>Vocab Visualizer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body onload="auto_grow(document.getElementById('abstract'))">
    <center>
      <h1>Vocab Visualizer</h1>
      <div id="title">{{ title|safe }}</div>
      <br />
      <div id="abstract" onchange="auto_grow(this)">{{ abstract|safe }}</div>
      <form method="POST" enctype="multipart/form-data">
        {{ form.id(placeholder="Identifier") }} {{ form.submit }}
      </form>
    </center>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
